@font-face {
  font-family: AlegreyaSC;
  src: url(../font/Alegreya_SC/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: NixieOne;
  src: url(../font/Nixie_One/NixieOne-Regular.ttf);
}
@font-face {
  font-family: AlegreyaSans;
  src: url(../font/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/image-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
}
header nav h1 {
  color: white;
  font-family: AlegreyaSC;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
}
header nav img {
  width: 24px;
  height: 28px;
}
header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 316px 0 411px 0;
}
header section p {
  color: white;
  line-height: 1;
}
header section .bigText {
  font-family: NixieOne;
  font-size: 56px;
}
header section .smallText {
  font-family: AlegreyaSC;
  font-size: 22.4px;
}

.portfolio {
  padding: 60px 135px;
}
.portfolio .container {
  padding: 0 15px;
}
.portfolio .container .header .headline {
  display: flex;
  justify-content: space-between;
}
.portfolio .container .header .headline h2 {
  font-family: AlegreyaSans;
  font-size: 36px;
}
.portfolio .container .header .headline button {
  font-family: "Helvetica";
  font-size: 18px;
  padding: 12px 18px;
  line-height: 24px;
}
.portfolio .container .header .headline button a {
  text-decoration: none;
  color: black;
}
.portfolio .container .header p {
  margin-top: 16px;
  margin-bottom: 60px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 20px;
}
.portfolio .container .row {
  padding: 0 0 30px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.portfolio .container .row img {
  width: 31%;
  object-fit: cover;
}

.services {
  padding: 80px 135px;
  background-image: url(../img/services-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.services .container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.services .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 16px;
}
.services .container .header h2 {
  font-family: AlegreyaSans;
  font-size: 36px;
  line-height: 1.1;
}
.services .container .header p {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 20px;
}
.services .container .services-container {
  display: flex;
  gap: 30px;
  padding: 0 15px 20px 15px;
  justify-content: center;
}
.services .container .services-container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container .services-container .service h2 {
  font-family: AlegreyaSans;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  color: white;
}
.services .container .services-container .service article {
  padding: 16px 27px 0 27px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.blog {
  padding: 60px 135px;
}
.blog .container {
  padding: 0 15px;
}
.blog .container .header .headline {
  display: flex;
  justify-content: space-between;
}
.blog .container .header .headline h2 {
  font-family: AlegreyaSans;
  font-size: 36px;
}
.blog .container .header .headline button {
  font-family: "Helvetica";
  font-size: 18px;
  padding: 12px 18px;
  line-height: 24px;
}
.blog .container .header .headline button a {
  text-decoration: none;
  color: black;
}
.blog .container .header p {
  margin-top: 16px;
  margin-bottom: 60px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 20px;
}
.blog .container .row {
  padding: 0 0 30px 0;
  display: flex;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}
.blog .container .row div {
  padding: 0 15px;
  width: 34%;
}
.blog .container .row div img {
  width: 100%;
  object-fit: contain;
}
.blog .container .row div h2 {
  padding-top: 18px;
  color: #3a4f52;
  font-family: AlegreyaSans;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 500;
}
.blog .container .row div p {
  padding-top: 16px;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
  font-style: italic;
}
.blog .container .row div article {
  padding-top: 19px;
  padding-bottom: 24px;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
}
.blog .container .row div a {
  text-decoration: none;
  color: #4da7ca;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
}

.parallax {
  padding: 80px 135px;
  background-image: url(../img/parallax-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parallax .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.25);
}
.parallax .container .quote {
  text-align: center;
  color: white;
  font-family: AlegreyaSans;
  font-size: 36px;
  line-height: 1.1;
}
.parallax .container button {
  padding: 11px 17px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.25);
}
.parallax .container button a {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 24px;
}

.testimonials {
  padding: 60px 135px;
}
.testimonials .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.testimonials .container .header h2 {
  font-family: AlegreyaSans;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #3a4f52;
}
.testimonials .container .header p {
  margin-bottom: 60px;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 20px;
  color: #6a6a6a;
}
.testimonials .container .testimonials-container {
  padding: 0 15px;
  display: flex;
  gap: 30px;
}
.testimonials .container .testimonials-container .testimonial {
  padding-top: 25px;
}
.testimonials .container .testimonials-container .testimonial img {
  width: 150px;
  margin-left: calc(50% - 75px);
}
.testimonials .container .testimonials-container .testimonial article {
  text-align: center;
  padding: 17px 25px 23px 25px;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
}
.testimonials .container .testimonials-container .testimonial p {
  text-align: center;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
}

/* ********** Tablet Styles ********** */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .portfolio {
    padding: 60px 9px;
  }
  .portfolio .container {
    padding: 0 15px;
  }
  .portfolio .container .row {
    padding: 0 0 30px 0;
    display: flex;
    gap: 30px;
  }
  .portfolio .container .row img {
    width: 31%;
    object-fit: cover;
  }
  .services {
    padding: 80px 9px;
  }
  .services .container {
    padding: 50px 16px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .services .container .services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .blog {
    padding: 60px 9px;
  }
  .blog .container {
    padding: 0 15px;
  }
  .parallax {
    padding: 80px 9px;
  }
  .testimonials {
    padding: 60px 9px;
  }
  .testimonials .container .testimonials-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
}
/* ********** Mobile Styles ********** */
@media screen and (max-width: 767px) {
  header section .bigText {
    font-size: 39.2px;
  }
  header section .smallText {
    font-size: 16.8px;
  }
  .portfolio {
    padding: 60px 0;
  }
  .portfolio .container {
    padding: 0 15px;
  }
  .portfolio .container .header .headline {
    display: flex;
    justify-content: space-between;
  }
  .portfolio .container .header .headline h2 {
    font-family: AlegreyaSans;
    font-size: 36px;
  }
  .portfolio .container .row {
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .portfolio .container .row img {
    width: 100%;
    object-fit: cover;
  }
  .services {
    padding: 101px 0 59px 0;
  }
  .services .container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .services .container .services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .blog {
    padding: 60px 9px;
  }
  .blog .container {
    padding: 0 15px;
  }
  .blog .container .row {
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -15px;
    gap: 40px;
  }
  .blog .container .row div {
    padding: 0 15px;
    width: 100%;
  }
  .parallax {
    padding: 80px 0px;
  }
  .parallax .container .quote {
    padding: 0 15px;
  }
  .testimonials {
    padding: 60px 0px;
  }
  .testimonials .container .testimonials-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .testimonials .container .testimonials-container .testimonial article {
    padding: 17px 28px 23px 28px;
  }
}

/*# sourceMappingURL=style.css.map */
